<div id="new-project">
    <label>Create a project</label>
    <select id="category-names-for-projects" name="category_id">
        <option selected>Choose a category</option>
    {% for category in categories %}
        <option value="{{category.get('category_id')}}">{{category.get('category_name')}}</option>
    {% endfor %}
    </select>

    <label>Add Project Name</label>
    <input id="new-project-name" type="text" name="project_name" class="form-control" required>

    <button id="new-project-btn" type="submit" hx-post="/projects"
            hx-target="#new-project" hx-swap="outerHTML"
            >Create</button>
        
    <button id="new-project-btn" type="submit" hx-get="/projects/create_project"
            hx-target="#new-project" hx-swap="outerHTML"
    >Refresh Categories</button>
</div>