<tr scope="row">
    
    <td>
        <input id='recall-project-name' name="project_name" value='{{recall_project.project_name}}' <="" td="">
        <input id="recall-project-id" name="recall_project_id" type="hidden" value="{{recall_project.recall_project_id}}" <="" td="">
    </td>
    <td>
        <button class="btn btn-dark btn-rounded" 
                hx-put="/recall_projects/{{recall_project.recall_project_id}}" 
                hx-include="closest tr"
                hx-target="closest tr"
                hx-swap="outerHTML"
                >Save</button>
    </td>
    <td>
        <button 
            class="btn btn-danger btn-rounded"
            hx-delete="/recall_projects/{{ recall_project.recall_project_id }}" 
            hx-confirm="Are you sure?"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >Delete</button>
    </td>
</tr>
