<div class="mb-3" id="project-names">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Start</th>
                <th scope="col">Finish</th>
                <th scope="col">Cancel</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="project-list">

            {% for project in projects %}

                <tr scope="row">
                    <td> {{ project.project_name }}</td>
                    <td> {{ project.start }}</td>
                    <td> {{ project.end }}</td>
                    <td> {{ project.cancel }}</td>
                    <td> 
                        <button class="btn btn-primary"
                                hx-get="/projects/{{project.project_id}}/edit"
                                hx-target="closest tr"
                                hx-swap="outerHTML",
                                >
                        Edit
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn btn-danger"
                            hx-delete="/projects/{{ project.project_id }}" 
                            hx-include="#category-names"
                            hx-confirm="Are you sure?"
                            hx-target="closest tr"
                            hx-swap="outerHTML"
                        >Delete</button>
                    </td>

                </tr>
                
            {% endfor %}
        </tbody>     
    </table>
</div>