<tr scope="row">
    <td> {{ recall_project.project_name }}</td>
    <td> 
        <button class="btn btn-primary"
                hx-get="/recall_projects/edit/{{recall_project.recall_project_id}}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                >
        Edit
        </button>
    </td>
    <td>
        <button 
            class="btn btn-danger"
            hx-delete="/recall_projects/{{ recall_project.recall_project_id }}" 
            hx-confirm="Are you sure?"
            hx-target="closest tr"
            hx-swap="outerHTML"
        >Delete</button>
    </td>

</tr>
