{% extends "shared/base.html" %}


{% block title %}
  <title>Create a Recall</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create a Recall</h3>

      <div class="mb-3">
        <!-- Get create recall project form -->
        <div hx-get="/recall_projects/create_recall_project" hx-trigger="click" hx-target="this" hx-swap="outerHTML">
          <label for="create-recall-project">Click to create a new recall project</label>
        </div>
      </div>


      <form method="POST">
        <div class="mb-3">
          <!-- Getting the recall projects -->
          <label for="recall_project_id">Choose an existing recall project</label>
          <div hx-get="/recall_projects" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
        </div>

        <div class="mb-3">
          <input type="text" required placeholder="Recall title" name="recall_title" class="form-control">
        </div>

        <div class="mb-3">
          <label for="recall" class="form-label">Add recall</label>
          <textarea class="form-control" required name="recall" id="recall" rows="5"></textarea>
          <div id="help" class="form-text">Please, enter your recall here</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
{% endblock %}