{% extends "shared/base.html" %}

{% block title %}
  <title>Recall Projects</title>
{% endblock %}

{% block content %}
<div class="row">
<div id="errors" class="text-danger font-weight-bold">
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
</div>
</div>

<h1 style="text-align: center;">Recall Projects</h1>

<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br/>
<div class="mb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Recall Project Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="projects-list">

            {% for project in projects %}

                <tr scope="row">
                    <td> {{ project.project_name }}</td>
                    <td> 
                        <button class="btn btn-primary"
                                hx-get="/recall_projects/{{project.recall_project_id}}/edit"
                                hx-target="closest tr"
                                hx-swap="outerHTML"
                                >
                        Edit
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn btn-danger"
                            hx-delete="/recall_projects/{{ project.recall_project_id }}" 
                            hx-confirm="Are you sure?"
                            hx-target="closest tr"
                            hx-swap="outerHTML"
                        >Delete</button>
                    </td>

                </tr>
                
            {% endfor %}
        </tbody>     
    </table>
</div>
{% endblock %}
